<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Güçlü Şifre Oluşturucu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Kayıtlı Şifreleriniz</h1>
    {% if passwords %}
    <ul>
        {% for password in passwords %}
            <li style="margin-bottom: 15px; padding: 10px; background: rgba(255, 255, 255, 0.1); border-radius: 6px;">
                {{ password.password }} - <strong>{{ password.strength }}</strong>
                <form method="POST" action="{{ url_for('delete_password', password_id=password.id) }}" style="display:inline;">
                    <button type="submit" style="background-color:rgb(203, 30, 11);">Sil</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    
    
    {% else %}
        <p>Henüz bir şifre oluşturmadınız.</p>
    {% endif %}

  
    <a href="{{ url_for('profile') }}">Profilim</a> 
    <a href="{{ url_for('logout') }}">Çıkış Yap</a>

    <a href="{{ url_for('index') }}">Geri Dön</a>
</body>
</html>
